@inherits LayoutComponentBase
@using PrayerTimesHybrid.Components.Pages

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="date">@DateTime.Today.ToString("dd MMMM yyyy")</div>
            <div class="adhkar">Adhkar</div>
            <HijriDateDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
